.rows
  .large-12.columns
    - if @person.owner
      %h1 Editar Proprietário
    -else
      %h1 Editar Cliente

.row
  .large-6.columns
    = render 'form'
    = link_to 'Show', @person, :class => "button"
