.row
  .large-12.columns
    %h1 Imóveis

.row
  .large-12.columns

    %table
      %tr
        %th Morada
        %th Tipologia

      - @houses.each do |house|
        %tr
          %td= link_to house.address, house
          %td= house.category

    %br
